<div class="container">
    <img class="img-thumbnail" src='@ViewBag.pokeInfo["sprites"]["front_default"]'/>
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@ViewBag.pokeInfo["name"]</td>
        </tr>
        @{int i = 0;}
        @foreach (var type in @ViewBag.pokeInfo["types"])
        {<tr>
            <td>Type @{i++;}@i:</td>
            <td>@type["type"]["name"]</td>
        </tr>}
        <tr>
            <td>Height</td>
            <td>@ViewBag.pokeInfo["height"]</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>@ViewBag.pokeInfo["weight"]</td>
        </tr>
    </table>
</div>